__pycache__/
*.swp
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.btrdupd.db
.btrdupd.db.lock
*.sqlite
*.db
.DS_Store
.vscode/
.idea/
*.log*.db
*.db-journal
*.db.lock
.pytest_cache/

# User profile files (not part of project)
.bash_logout
.bashrc
.profile
.bash_history
.ssh/
.cache/
.sudo_as_admin_successful
.gitattributes
